.header__logo {
  max-width: 142px;
  margin-top: 45px;
  margin-bottom: 41px;
}
.header__logo:hover{
  background-color: black;
  transition: .1s linear;
}

@media screen and (max-width: 767px){
.header__logo {
  max-width: 103.74px;
  margin-top: 28px;
  margin-left: 27px;
  margin-bottom: 31.6px;
  }
}