.profile__subtitle {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #FFFF;
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 22px;
  margin-left: 22.5px;
  margin-top: 16px;
}

@media screen and (max-width: 1023px){
.profile__subtitle {
  width: 100%;
  font-size: 14px;
  line-height: 17px;

  margin-top: 14px;
  margin-left: 25px;
  }
}

@media screen and (max-width: 767px){
.profile__subtitle {
  width: 239px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }
}