.popup__btn {
  width: 100%;
  height: 50px;
  margin: 48px 0 37px;
  font-size: 18px;
  line-height: 22px;
  background-color: #000000;
  color: #FFFFFF;
  border: none;
  border-radius: 2px;
  font-family: "Inter", "Arial", "sans-serif";
}
.popup__btn:hover {
  opacity: 0.8;
  transition: .1s linear;
  cursor: pointer;
}

@media screen and (max-width: 767px){
.popup__btn {
  margin-top: 45px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 17px;
  }
}

