.elements {
  margin-top: 47.25px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 890px;
}
@media screen and (max-width: 1023px){
.elements {
  max-width: 585px;
  }
}

@media screen and (max-width: 767px){
.elements {
  flex-direction: column;
  margin-top: 36px;
  }
}